{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div id="ccdd">
<p align="justify">
<b>CONTRATO DE CESIÓN DE DERECHOS AL COBRO, DE LOS APOYOS ECONÓMICOS DERIVADOS DEL COMPONENTE DE MODERNIZACIÓND E MAQUINARIA Y EQUIPO DEL PROGRAMA DE FOMENTO A LA AGRICULTURA 2016.
</b></p>
<p align="justify">
CONTRATO DE CESIÓN DE DERECHOS AL COBRO DEL APOYO ECONÓMICO <b>{{ solicitud.concepto }}</b>, QUE CELEBRAN, POR UNA PARTE, EL C.<b>{{ solicitud.nombre }}</b>, A QUIEN EN LO SUCESIVO SE LE DENOMINARA “EL CEDENTE”, Y POR LA OTRA EL C. <b>{{ solicitud.proveedor }}</b>, A QUIEN EN LO SUCESIVO SE LE DENOMINARA “EL CESIONARIO”, Y DE MANERA CONJUNTA SERAN “LAS PARTES”, AL TENOR DE LOS SIGUIENTES:
</p>
<p align="center">
<b>ANTECEDENTES
</b></p>
<p align="justify">I.   QUE EL ACUERDO POR EL CUAL SE DAN A CONOCER LAS REGLAS DE OPERACIÓN DE LOS PROGRAMAS DE LA SECRETARÍA DE AGRICULTURA, GANADERÍA, DESARROLLO RURAL, PESCA Y ALIMENTACIÓN PARA EL EJERCICIO FISCAL 2016, PUBLICADO EN EL DIARIO OFICIAL DE LA FEDERACIÓN EL 30 DE DICIEMBRE DE 2015, EL PROGRAMA DE FOMENTO A LA AGRICULTURA, EN SU COMPONENTE MODERNIZACIÓN DE MAQUINARIA Y EQUIPO, CONTEMPLA APOYOS, A LAS PERSONAS FÍSICAS,  MORALES O GRUPOS DE PERSONAS, QUE REALIZAN ACTIVIDADES EN EL SECTOR AGROALIMENTARIO Y QUE REQUIERAN MEJORAR SU PRODUCTIVIDAD A TRAVÉS DE LA APLICACIÓN DE INNOVACIONES Y DESARROLLO TECNOLÓGICO, MEDIANTE EL CUMPLIMIENTO DE LOS CRITERIOS Y REQUISITOS DE ELEGIBILIDAD ESTABLECIDOS EN LAS REFERIDAS REGLAS, PARA EL OTORGAMIENTO DE APOYOS ECONÓMICOS PARA:
</p>
I) POTÁTIL: EQUIPOS MOTORIZADOS</br>
II) EQUIPOS E IMPLEEMNTOS PARA AGRICULTURA DE PRECISIÓN</br>
III) TRACTORES</br>
IV PROYECTOS ESPECIALES DE IMPACTO DE PERSONAS MORALES</br>

<p align="justify">II.   QUE EL OBJETIVO PRINCIPAL DEL PROGRAMA DE FOMENTO A LA AGRICULTURA LO CONSTITUYE EL INCREMENTO DE LA PRODUCTIVIDAD AGROALIMENTARIA, ASÍ COMO LA CORRECCIÓN DEL MANEJO PARA EVITAR EL DETERIORO DE RECURSOS COMO AGUA, SUELO Y ENERGÉTICOS, Y LA DISMINUCIÓN EN LOS COSTOS DE PRODUCCIÓN, REDEFINIDO A PARTIR DE LAS PRIORIDADES NACIONALES Y DE LAS NECESIDADES DE LOS PRODUCTORES.</p>
<p align="center"><b>DECLARACIONES</b></p>
I. “EL CEDENTE”, BAJO PROTESTA DE DECIR VERDAD, DECLARA:
<p align="justify">I.1QUE RESULTÓ ELEGIBLE Y EN CONSECUENCIA ES BENEFICIARIO DEL APOYO ECONÓMICO <b>{{ solicitud.beneficio }}</b>,DEL COMPONENTE DE MODERNIZACIÓN DE MAQUINARIA Y EQUIPO, DEL PROGRAMA DE FOMENTO A LA AGRICULTURA, VIGENTE EN EL AÑO 2016, CORRESPONDIENTE AL ESTADO DE <b>DURANGO</b>, LO QUE TIENE ACREDITADO CONFORME A LA NORMATIVIDAD APLICABLE ANTE LA SECRETARIA DE AGRICULTURA, GANADERIA, DESARROLLO RURAL, PESCA Y ALIMENTACIÓN (SAGARPA), A TRAVES DE LA DIRECCIÓN GENERAL DE PRODUCTIVIDAD Y DESARROLLO TECNOLÓGICO, COMO UNIDAD RESPONSABLE DEL PROGRAMA, Y ANTE LA DELEGACIÓN ESTATAL DE LA REFERIDA DEPENDENCIA FEDERAL EN LA ENTIDAD FEDERATIVA DE <b>DURANGO</b> SEGÚN LA SOLICITUD ÚNICA DE APOYO (ANEXO I), CON FOLIO DE REGISTRO N° <b>{{ solicitud.folio }}</b>.</p>
<p align="justify">I.2. QUE CONOCE Y ESTA SUJETO AL CUMPLIMENTO DE LO ESTABLECIDO EN EL ACUERDO POR EL CUAL SE DAN A CONOCER LAS REGLAS DE OPERACIÓN DE LOS PROGRAMAS DE LA SECRETARÍA DE AGRICULTURA, GANADERÍA, DESARROLLO RURAL, PESCA Y ALIMENTACIÓN PARA EL EJERCICIO FISCAL 2016 PUBLICADO EN EL DIARIO OFICIAL DE LA FEDERACIÓN EL 30 DE DICIEMBRE DE 2015, (REGLA DE OPERACIÓN), ASI COMO A LA NORMATIVIDAD APLICABLE.</p>
<p align="justify">I.3. QUE PARA LOS EFECTOS DEL PRESENTE CONTRATO SEÑALA COMO SU DOMICILIO <b>CONOCIDO EN LA LOCALIDAD DE {{ solicitud.localidad }} MUNICIPIO DE {{ solicitud.municipio }}</b> </p>
<p align="justify">I.4. QUE SU REGISTRO FEDERAL DE CONTIBUYENTES ES: <b>{{ solicitud.rfc }}</b></p>
<p align="justify">I.5. QUE SU CLAVE UNICA DE REGISTRO DE POBLACIÓN (CURP) ES  <b>{{ solicitud.curp }}</b></p>
<div class="page-break"></div>
<p align="justify">II. “EL CESIONARIO”, Y BAJO PROTESTA DE DECIR VERDAD, DECLARA:</p>
<p align="justify">II.1. QUE ES <b>PERSONA MORAL</b> CONSTITUIDA DE CONFORMIDAD CON LAS LEYES MEXICANAS, SEGÚN CONSTA EN LA ESCRITURA PÚBLICA NÚMERO <b>{{ user.perfil.escritura }}</b>, DE FECHA <b>{{ user.perfil.escritura_fecha }}</b>, PASADA ANTE LA FE DEL LIC. <b>{{ user.perfil.escritura_notario }}</b>, NOTARIO PÚBLICO NÚMERO <b>{{ user.perfil.escritura_notario_numero }}</b>, DE LA CIUDAD DE <b>{{ user.perfil.escritura_notario_ciudad }}</b></p>
<p align="justify">II.2. QUE EL C <b>{{ user.perfil.apoderado_legal }}</b>, EN SU CARÁCTER DE APODERADO SE ENCUENTRA FACULTADO PARA CELEBRAR EL PRESENTE CONTRATO, COMO SE ACREDITA CON LA ESCRITURA PUBLICA DEL PODER NOTARIAL NUMERO <b>{{ user.perfil.poder }}</b> DE FECHA <b>{{ user.perfil.poder_fecha }}</b> OTORGADA ANTE LA FE DEL LIC. <b>{{ user.perfil.poder_notario }}</b> NOTARIO PÚBLICO NÚMERO <b>{{ user.perfil.poder_notario_numero }}</b> DE LA CIUDAD DE <b>{{ user.perfil.poder_ciudad }}</b>, Y CUYAS FACULTADES NO LE HAN SIDO MODIFICADAS, LIMITADAS , O REVOCADAS A LA FECHA.</p>
II.3. QUE PARA LOS EFECTOS DEL PRESENTE CONTRATO SEÑALA COMO SU DOMICILIO EL UBICADO EN <b>{{ user.perfil.apoderado_legal_domicilio }}</b>.
<p align="justify">II.4. QUE SU REGISTRO FEDERAL DE CONTRIBUYENTES ES: <b>{{ solicitud.rfc_proovedor }}</b></p>
<p align="justify">III.”LAS PARTES” DECLARAN BAJO PROTESTA DE DECIR VERDAD:</p>
<p align="justify">III.1. QUE NO TIENE IMPEDIMENTO LEGAL ALGUNO Y ES SU VOLUNTAD CELEBRAR EL PRESENTE CONTRATO.</p>
<p align="justify">III.2. QUE ACEPTAN EN LOS TERMINOS DEL PRESENTE CONTRATO LA CESIÓN DE DERECHOS BAJO LAS SIGUIENTES.</p>
<p align="center"><b>CLAUSULAS</b></p>
<p align="justify">PRIMERA.- EL OBJETO DEL PRESENTE CONTRATO CONSISTE EN QUE “EL CEDENTE” CEDE A FAVOR DE “EL CESIONARIO” EN LOS TERMINOS DEL ARTICULO 2029 DEL CODIGO CIVIL FEDERAL LOS DERECHOS AL COBRO DEL APOYO ECONÓMICO PARA <b>{{ solicitud.beneficio }}</b> PARA <b>{{ solicitud.concepto }}</b>, EQUIVALENTE AL IMPORTE DE <b>${{ solicitud.monto_autorizado|floatformat }}</b> (00/100 PESOS M.N.). DERIVADOS DE LA SOLICITUD A QUE SE REFIERE LA DECLARACIÓN I.1 DEL PRESENTE CONTRATO.</p>
<p align="justify">SEGUNDA.- “LAS PARTES” ESTAN DE ACUERDO EN QUE PARA QUE LLEGUE A EXISTIR EL DERECHO CEDIDO, “EL CEDENTE” DEBERA CUMPLIR CON LO ESTABLECIDO EN LAS REGLAS DE OPERACIÓN PARA EL PROGRAMA DE FOMENTO A LA AGRICULTURA Y DE SU COMPONENTE MODERNIZACIÓN DE MAQUINARIA Y EQUIPO, Y SE OBLIGA A NO CELEBRAR NINGÚN OTRO CONTRATO QUE PUDIESE COMPROMETER EL APOYO ECONÓMICO MATERIA DE ESTA CESIÓN, ASIMISMO, “LAS PARTES” CONVIENEN EN LIBERAR A LA UNIDAD RESPONSABLE Y A LA INSTANCIA EJECUTORA, DEL PROGRAMA Y COMPONENTE SEÑALADOS, DE CUALQUIER RESPONSABILIDAD EN CASO DE QUE EL APOYO ECONÓMICO NO SE GENERE O SE CANCELE, POR CAUSAS IMPUTABLES A CUALQUIERA DE “LAS PARTES”.</p>
<p align="justify">TERCERA.- “EL CEDENTE” AL SUSCRIBIR Y ENTREGAR ESTE CONTRATO JUNTO CON LA COPIA DEL ESTADO DE CUENTA DE “EL CESIONARIO” EN LA DELEGACIÓN ESTATAL DE LA SECRETARÍA DE AGRICULTURA, GANADERÍA, DESARROLLO RURAL, PESCA Y ALIMENTACIÓN EN LA ENTIDAD FEDERATIVA DE <b>DURANGO</b>, MANIFIESTA SU VOLUNTAD Y SOLICITA A LA DIRECCIÓN GENERAL DE PRODUCTIVIDAD Y DESARROLLO TECNOLÓGICO COMO UNIDAD RESPONSABLE DEL PROGRAMA Y A LA DELEGACIÓN ESTATAL DE LA REFERIDA DEPENDENCIA FEDERAL EN LA ENTIDAD FEDERATIVA DE <b>DURANGO</b>, QUE EN CASO DE RESULTAR SER SUJETO DEL APOYO ECONÓMICO REFERIDO EN LA CLAUSULA PIMERA DE ESTE CONTRATO, SE ENTREGUE “EL CESIONARIO”, MEDIANTE DEPÓSITO O TRANFERENCIA A LA CUENTA BANCARIA DE LA QUE ES TITULAR,Y QUE A CONTINUACIÓN SE DETALLA:</p>
<p align="justify">NOMBRE DEL CUENTAHABIENTE: <b>{{ user.perfil.nombre_cuentahabiente }}</b></p>
<p align="justify">NOMBRE DEL BANCO: <b>{{ user.perfil.nombre_banco }}</b></p>
<p align="justify">CLAVE DE BANCO: <b>{{ user.perfil.clave_banco }}</b></p>
<p align="justify">CLABE INTERBANCARIA: <b>{{ user.perfil.clabe_interbancaria }}</b></p>
<div class="page-break"></div>
<p align="justify">CUARTA:- “LAS PARTES” ESTAN DE ACUERDO EN QUE LA DIRECCIÓN GENERAL DE PRODUCTIVIDAD Y DESARROLLO TECNOLÓGICO SE DARÁ POR NOTIFICADA DE LA CELEBRACIÓN DEL PRESENTE CONTRATO EN EL MOMENTO EN QUE SE LE ENTREGUE POR “EL CESIONARIO” UN EJEMPLAR EN ORIGINAL DEL PRESENTE CONTRATO.</p>
<p align="justify">QUINTA.- COMO CONTRAPRESTACIÓN EQUIVALENTE AL MONTO DE LA PRESENTE CESIÓN DE DERECHOS AL COBRO DE LOS APOYOS ECONÓMICOS DESCRITOS EN LA CLAUSULA PRIMERA, “EL CEDENTE” MANIFIESTA HABER RECIBIDO DE “EL CESIONARIO” <b>{{ solicitud.proveedor }}</b>, POR LO QUE ESTE ACTO CONSTITUYE EL RECIBO MÁS AMPLIO QUE EN DERECHO PROCEDA EMITIDO POR “EL CEDENTE” A SU ENTERA SATISFACCIÓN DE LO ANTES SEÑALADO.</p>
<p align="justify">SEXTA.- EL PRESENTE CONTRATO SE ENCUENTRA LIBRE DE DOLO, MALA FE, O CUALQUIER OTRO VICIO DEL CONSENTIMIENTO Y QUE CONSTITUYE SU LIBRE VOLUNTAD.</p>
<p align="justify">SEPTIMA.- “LAS PARTES” CON MOTIVO DEL PRESENTE CONTRATO, SE AUTORIZA A LA SECRETARÍA DE AGRICULTURA, GANADERÍA, DESARROLLO RURAL, PESCA Y ALIMENTACIÓN, PARA QUE A TRAVES DE SU UNIDAD ADMINISTRATIVA COMPETENTE, INCLUYA EN SU CATALOGO DE CUENTAS BANCARIAS, LAS CUENTAS CUYOS DATOS SE SEÑALAN EN EL PRESENTE DOCUMENTO.</p>
<p align="justify">OCTAVA.- “LAS PARTES” SE OBLIGAN A REINTEGRAR TOTAL O PARCIALMENTE LOS MONTOS QUE HAYAN SIDO DEPOSITADOS COMO PAGO DE APOYOS ECONÓMICOS DESCRITOS EN LA CLAUSULA PRIMERA, POR ERROR O EN DEMASIA, A LA CUENTA BANCARIA QUE LA UNIDAD RESPONSABLE O LA INSTANCIA EJECUTORA DEL PROGRAMA, DETERMINEN, ASI COMO LOS PRODUCTOS FINANCIEROS GENERADOS EN TERMINOS DE LA NORMATIVIDAD APLICABLE.</p>
<p align="justify">NOVENA.-“LAS PARTES” ACEPTAN QUE SE TENDRAN POR PAGADOS LOS APOYOS ECONÓMICOS DESCRITOS EN LA CLAUSULA PRIMERA DE ESTE INSTRUMENTO, UNA VEZ QUE SE REALICE EL DEPOSITO O TRANFERENCIA POR EL IMPORTE QUE CORRESPONDA, POR LO QUE EN CASO DE RECLAMACIÓN DUDA, O CONTROVERSIA, SE COMPROMETEN A PROPORCIONAR LOS ESTADOS DE CUENTA EMITIDOS POR LA RESPECTIVA INSTITUCIÓN BANCARIA.</p>
<p align="justify">DECIMA.- “LAS PARTES” EXIMEN A LA SECRETARÍA DE AGRICULTURA, GANADERÍA, DESARROLLO RURAL, PESCA Y ALIMENTACIÓN, ASÍ COMO A LA UNIDAD RESPONSABLE Y A LA INSTANCIA EJECUTURA DEL PROGRAMA DE FOMENTO A LA AGRICULTURA Y DEL COMPONENTE MODERNIZACIÓN DE MAQUINARIA Y EQUIPO, DE TODA RESPONSABILIDAD EN CASO DE QUE NO SE CONFIGURE LA CESIÓN DE DERECHOS AL COBRO, ASÍ COMO DEL DEPOSITO EN LA CUENTA SEÑALADA POR “EL CESIONARIO”, POR ERROR O FALTA DE VIGENCIA DE LOS DATOS PROPORCIONADOS POR LAS PARTES PARA LA CELEBRACIÓN DEL PRESENTE CONTRATO, QUE SON APORTADOS BAJO PROTESTA DE DECIR VERDAD POR “LAS PARTES”.</p>
<p align="justify">DECIMA PRIMERA.- PARA LA INTERPRETACIÓN Y CUMPLIMIENTO DEL PRESENTE CONTRATO, “LAS PARTES” SE SOMETEN A LA JURISDICCIÓN DE LOS TRIBUNALES COMPETENTES, CORRESPONDIENTES A LOS TRIBUNALES QUE EJERCEN JURISDICCIÓN EN LA ENTIDAD FEDERATIVA DE <b>DURANGO</b>.</p>
<p align="justify">ENTERADAS DEL ALCANCE Y CONTENIDO LEGAL DEL CONTRATO, “LAS PARTES” LO FIRMAN POR TRIPLICADO, EN LA CIUDAD DE <b>{{ solicitud.localidad }}</b> MUNICIPIO DE <b>{{ solicitud.municipio }}</b> ESTADO DE <b>DURANG</b>, A LOS  <input type="text" class="mtexto" placeholder="Dias" size="2"></input>DIAS DEL MES DE  <input type="text" class="mtexto" placeholder="Mes" size="10"></input> DE 2016.</p>
</br>
</br>
</br>
</br>
</br>
<center>
    <table style="width:100%;">
        <tr>
            <td align="center">_________________________</td>
            <td align="center">________________________</td>
        </tr>
        <tr>
            <td align="center">“EL CEDENTE”</td>
            <td align="center">“EL CESIONARIO”</td>
        </tr>
    </table>
</center>
</br>
</br>

Este programa es público, ajeno a cualquier partido político. Queda prohibido el uso para fines distintos a los establecidos en el programa”
</div>
</div>

{% endblock %}
